/* input {
  width: 300px !important;
} */

.container {
  text-align: center;
  padding-top: 2%;
}

.loginbtn {
  margin: 1rem 1rem 1.4rem 1rem;
} 

.googleloginbtn {
  margin: -1rem 0rem 2rem 0 
}
.background{
  background-image: url("https://cdn.wallpapersafari.com/40/46/BxmlvV.jpg") ;
  height:900px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
