.navbar {
  background-color: #e95420;
}

.logoutbtn {
  background-color: #fff;
  float: right;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.whitecolor {
  color: white !important;
}
.nav-link{
  color:white !important
}
